html{
    display: flex;
    width: 100%;
    height: 100%;
}

body{
    background-color: #E8E6DE;
    display: flex;
    flex: 1;
    border: none;
    padding: 0px;
    margin: 0px;
    flex-direction: column;
}

.button{
    display: flex;
    flex: 1;
    background: none;
    border: none;
    justify-content: center;
    font-size: large;
    margin: 20px;
}

.button:hover{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.nav-bar{
    flex: 1;
    display: flex;
    flex-direction: row;
}

#content{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.heading{
    font-size: xx-large;
}